
SlightlyDelayedGram/.idea/inspectionProfiles/profiles_settings.xml
SlightlyDelayedGram/.idea/SlightlyDelayedGram.iml
SlightlyDelayedGram/.idea/modules.xml
SlightlyDelayedGram/.idea/misc.xml
SlightlyDelayedGram/.idea/inspectionProfiles/profiles_settings.xml
SlightlyDelayedGram/.idea/vcs.xml
SlightlyDelayedGram/.idea/SlightlyDelayedGram.iml
SlightlyDelayedGram/.idea/modules.xml
SlightlyDelayedGram/.idea/misc.xml
SlightlyDelayedGram/.idea/inspectionProfiles/profiles_settings.xml
SlightlyDelayedGram/.idea/vcs.xml
SlightlyDelayedGram/.idea/SlightlyDelayedGram.iml
SlightlyDelayedGram/.idea/modules.xml
SlightlyDelayedGram/.idea/misc.xml
SlightlyDelayedGram/.idea/inspectionProfiles/profiles_settings.xml
