{% extends "users/base.html" %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container img-repsonsive" style="padding:20px; max-width: 700px;">
        <h2 style = "text-align: center">You have been logged out</h2>
        <small>
            <a href="{% url 'login' %}"><h4 style = "text-align: center">Log in Again</h4></a>
        </small>
    </div>
{% endblock %}