{% extends "users/base.html" %}
{% block content %}
    <div class="container img-repsonsive" style="padding:20px; max-width: 700px;">
        {% for Picture in Pictures %}
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'peer_profile' pk=Picture.owner.pk %}"><img
                            src={{ Picture.owner.profile.image.url }}  width="65" height="65" class="img-circle"
                            alt="italy"></a>
                    <a href="{% url 'peer_profile' pk=Picture.owner.pk %}"><h4 class="card-title"
                                                                               style="display:inline-block; margin-left:10px; color:black;">{{ Picture.owner }}</h4>
                    </a>
                </div>
                <a href="{% url 'picture_detail' pk=Picture.pk %}"><img class="card-img"
                                                                        src="{{ Picture.picture_object.url }}"
                                                                        alt="Card image"
                                                                        style="width:100%; border-radius: 0px"></a>
                <div class="card-body">
                    <p class="card-text">By {{ Picture.owner }} on {{ Picture.post_date }}</p>
                    <a href="{% url 'picture_detail' pk=Picture.pk %}" class="btn btn-light">{{ Picture.total_likes }}
                        Like{{ Picture.total_likes | pluralize }}</a>
                    <a href="{% url 'picture_detail' pk=Picture.pk %}"
                       class="btn btn-light">{{ Picture.comments.count }}
                        Comment{{ Picture.comments.count | pluralize }}</a>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}