{% extends "users/base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    {% if messages %}
        {% for message in messages %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}


    <div class="container img-repsonsive text-center" style="margin-top: 20px">
        <img width="100" height="100" class="img-circle mx-auto"
             src="{{ profile.user.profile.image.url|default:"media/default.jpg" }}">
        <h1 class="account-heading">{{ profile.user.username }}</h1>
            <p style = "margin:0px">
                <p>
                    <form action="{% url 'follow_user' %}" method="post">
                        {% csrf_token %}
                        {% if is_followed %}
                            <button type = "submit" name="profile_id" value="{{ profile.pk }}" class="btn btn-light">You are following this user</button>
                        {% else %}
                            <button type = "submit" name="profile_id" value="{{ profile.pk }}" class="btn btn-light"> Follow this user</button>
                        {% endif %}
                        </form>
                </p>
            </p>
    </div>



    {% if latest_picture_list %}
        <div class="container img-repsonsive" style="padding:20px; max-width: 700px;">
        {% for picture in latest_picture_list %}

            <div class="card">
                <a href="{% url 'picture_detail' pk=picture.pk %}"><img class="card-img"
                                                                        src="{{ picture.picture_object.url }}"
                                                                        alt="Card image"
                                                                        style="width:100%; border-radius: 0px"></a>
                <div class="card-body">
                    <p class="card-text">By {{ picture.owner.username }} on {{ picture.post_date }}</p>
                    <a href="{% url 'picture_detail' pk=picture.pk %}" class="btn btn-light">{{ picture.total_likes }}
                        Like{{ picture.total_likes | pluralize }}</a>
                    <a href="{% url 'picture_detail' pk=picture.pk %}"
                       class="btn btn-light">{{ picture.comments.count }}
                        Comment{{ picture.comments.count | pluralize }}</a>
                </div>
            </div>
            <br>



        {% endfor %}
    {% endif %}
</div>
{% endblock %}