{% extends "users/base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    {% if messages %}
        {% for message in messages %}
<div xmlns="http://www.w3.org/1999/html">
                {{ message }}
            </div>
        {% endfor %}
    {% endif%}


    <div style = "margin-left:285px;" class = "content-section">
        <div class = "media">
            <img width="100" height="100" class="img-circle" src="{{ user.profile.image.url|default:"media/default.jpg" }} ">
            <div class = "media-body">
                <h1 class = "account-heading">{{ profile.user.username }}</h1>
                    <p>
                        <p>
                            <form action="{% url 'follow_user' %}" method="post">
                                {% csrf_token %}
                                {% if is_followed %}
                                    <button type = "submit" name="profile_id" value="{{ profile.pk }}" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> You are following this user</button>
                                {% else %}
                                    <button type = "submit" name="profile_id" value="{{ profile.pk }}" class="btn btn-default"><span class="glyphicon glyphicon-plus" disabled></span> Follow this user</button>
                                {% endif %}
                                </form>
                        </p>
                    </p>
            </div>
        </div>
    </div>





    {% if latest_picture_list %}
        {% for picture in latest_picture_list %}
            <div class="card mb-3">
                <div class="card-body">
                    <p class="lead">
                        <div style = "margin-left:270px;"  class="row">
                            <div class="col-sm-6 col-md-4" >
                                <div class="thumbnail">
                                    <div class="caption">
                                        <img src="{{picture.picture_object.url}}" width="375" height="375" class="img-rounded"/>
                                        <h4>{{ picture.title }}</h4>
                                        <p>By {{ user.username }} on {{ picture.post_date }}</p>
                                         {{ picture.total_likes }} Like{{ picture.total_likes | pluralize}} &nbsp;&nbsp;&nbsp;
                                        <p>{{ picture.caption }}</p>
                                        <p>
                                            <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-heart-empty"></span> Like</a>
                                            <a href="{% url 'picture_detail' pk=picture.pk %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-comment"></span> {{ picture.comments.count }} Comments</a>
                    </p>
                </div>
            </div>
            </div>
            </div>
            </p>
            </div>
            </div>
        {% endfor %}
    {% else %}
        <p style = "margin-left:285px;" ></p>
    {% endif %}
{% endblock %}