{% extends "users/base.html" %}
{% block content %}
        <div style = "margin-left:285px; color: #333333;" class="center">
            <div class="row">
                <div class="col-sm-6 col-md-4" >
                    <div class="thumbnail">
                        <div class="caption">
                            <img src = "{{ picture.owner.profile.image.url }}"  width="65" height="65" class="img-circle" alt="profile_pic">
                            <a><h3 style = "display:inline-block; margin-left:10px; color:black;" >{{ picture.owner }}</h3></a>
                            <a><img src="{{picture.picture_object.url}}" style= "margin-left:0; margin-right:0; margin-top:10px; margin-bottom:10px" width="450" height="350" class="img-rounded"/></a>
                            <p>By {{ picture.owner }} on {{ picture.post_date }}</p>
                            {{ total_likes }} Like{{ total_likes | pluralize}}
                            <p>
                                {% if request.user.is_authenticated %}
                                 <form action="{% url 'like_picture' %}" method="post">
                                                    {% csrf_token %}
                                                    {% if is_liked %}
                                                        <button type = "submit" name = "picture_id" value="{{ picture.pk }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-heart"></span> Dislike </button>
                                                    {% else %}
                                                        <button type = "submit" name = "picture_id" value="{{ picture.pk }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-heart-empty"></span> Like </button>
                                                    {% endif %}
                                                    </form>
                                {% endif %}
{#                                <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus"></span> Follow this User</a>#}
                            </p>

                            {% for comment in picture.comments.all %}
                                <div class="comment" style="margin-bottom: 10px">

                                    <strong>{{ comment.author }}</strong>
                                    <p style = "display:inline-block; margin:0">{{ comment.text}}</p>
                                    <p style = "margin-top:0" class="date">{{ comment.created_date }}</p>
                                </div>
                            {% empty %}
                                <p>No one has commented on this photo yet.</p>
                            {% endfor %}
                        <br>
                            <div>
                                {% load crispy_forms_tags %}
                                  <form method="post">
                                    {% csrf_token %}
                                    {{ comment_form|crispy }}
                                      {% if request.user.is_authenticated %}
                                    <button type="submit" class="btn btn-success">Submit</button>
                                      {% else %}
                                    <button type="submit" class="btn btn-success"disabled>Submit</button>
                                      {% endif %}
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}