<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Slightly Delayed Gram</title>

    <!---------------------- NAV BAR---------------------------------------->
    <nav class="navbar navbar-light" style="background-color: white;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-left"><img src="../media/logo2.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#"></a></li>
                    <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-globe"></span> Explore</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Settings</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!---------------------- END OF NAV BAR---------------------------------------->
</head>

{% load crispy_forms_tags %}
{% if messages %}
    {% for message in messages %}
        <div>
            {{ message }}
        </div>
    {% endfor %}
{% endif%}


<h1 style = "margin-left:285px;"> {{ user.username }}</h1>

<body>
<form  style = "margin-left:285px; margin-bottom:25px; margin-top:25px;" action='upload' method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <input type="file" name="image">
    </p>
    <input type="submit" value="Submit" />
</form>


{% if latest_picture_list %}
    {% for picture in latest_picture_list %}
        <div class="card mb-3">
            <div class="card-body">
                <p class="lead">
                    <div style = "margin-left:270px;"  class="row">
                        <div class="col-sm-6 col-md-4" >
                            <div class="thumbnail">
                                <div class="caption">
                                    <img src="{{picture.picture_object.url}}" width="450" height="375" class="img-rounded"/>
                                    <h4>POST TITLE</h4>
                <p>By Jonathan Grant on April 1st</p>
                <p>POST CAPTION</p>
                <p>
                    <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-heart-empty"></span> Like</a>
                </p>
            </div>
        </div>
        </div>
        </div>
        </p>
        </div>
        </div>
    {% endfor %}
{% else %}
    <p style = "margin-left:285px;" >Get started by uploading your first picture!</p>
{% endif %}
</body>