{% extends "users/base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    {% if messages %}
        {% for message in messages %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}


    <div class="container img-repsonsive text-center" style="margin-top: 20px">
        <img width="100" height="100" class="img-circle mx-auto"
             src="{{ user.profile.image.url|default:"media/default.jpg" }}">
        <h1 class="account-heading">{{ user.username }}</h1>
    </div>

    <form class="container img-repsonsive text-center" action='upload' method="post" enctype="multipart/form-data"
          style="margin-bottom: 0px">
        {% csrf_token %}
        <p class="btn btn-light" style="margin:0px">
            <input type="file" name="image">
        </p>
        <input href="#" class="btn btn-light" role="button" type="submit" value="Submit" style="height:44px"/>
    </form>


    {% if latest_picture_list %}
        <div class="container img-repsonsive" style="padding:20px; max-width: 700px;">
        {% for picture in latest_picture_list %}

            <div class="card">
                <a href="{% url 'picture_detail' pk=picture.pk %}"><img class="card-img"
                                                                        src="{{ picture.picture_object.url }}"
                                                                        alt="Card image"
                                                                        style="width:100%; border-radius: 0px"></a>
                <div class="card-body">
                    <p class="card-text">By {{ user.username }} on {{ picture.post_date }}</p>
                    <a href="{% url 'picture_detail' pk=picture.pk %}" class="btn btn-light">{{ picture.total_likes }}
                        Like{{ picture.total_likes | pluralize }}</a>
                    <a href="{% url 'picture_detail' pk=picture.pk %}"
                       class="btn btn-light">{{ picture.comments.count }}
                        Comment{{ picture.comments.count | pluralize }}</a>
                    <form method="POST" action="{% url 'delete' picture.pk %}" style="display: inline-block">
                        {% csrf_token %}
                        <a class="btn btn-light" type="submit">Delete Post</a>
                </div>
            </div>
            <br>



        {% endfor %}
    {% else %}
        <p>Get started by uploading your first picture!</p>
    {% endif %}
</div>
{% endblock %}