<!DOCTYPE html>
<html>
    <body>
        <div>
            <h1>Search Profile</h1>
            <form method="Post" action="/search/">
                {% csrf_token %}
                <div>
                    <div>
                <input type="text" name="srh" class="form-control" placeholder="Enter profile">
                    </div>
                    <label>
                        <button type="submit" class="btn btn-danger">Search</button>
                    </label>
                </div>
            </form>
            <div>
                {% if messages %}
                <ul class="messages">
                    {% for k in messages %}
                        <li>{{ k }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div><br>
                <div>
                    {% if sr %}
                        {% for k in sr %}
                            <table>
                                <tr>
                                    <td>{{ k.user }}</td>
                                </tr>
                            </table>
                        {% endfor %}
                    {% endif %}
                </div>
        </div>
    </body>
</html>