{% extends "users/base.html" %}
{% block content %}

<body style="background-color:#E9EAEB;">
<div class="container img-repsonsive" style="padding:20px; max-width: 700px;">
    <h1>Search for a Profile</h1>
    <form method="Post" action="/search/">
        {% csrf_token %}
        <div>
            <div>
                <input type="text" name="srh" class="form-control" placeholder="Enter profile">
            </div>
            <label>
                <br>
                &nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">Search</button>
            </label>
        </div>
    </form>
    <div>
        {% if messages %}
            <ul class="messages">
                {% for k in messages %}
                    <li>{{ k }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <br>
    <div>
        {% if sr %}
            {% for k in sr %}
                <table>
                    <tr>
                        &nbsp; <a href=" {% url 'peer_profile' pk=k.pk %}"> {{ k.user }} </a>
                    </tr>
                </table>
            {% endfor %}
        {% endif %}
    </div>
</div>
</body>
</html>
{% endblock %}